/**
 * @file
 * RTL companion for the navigation.css file.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/E\/WEBSERVER\/home\/stroimpmr\/www\/sites\/all\/themes\/stroycenter\/sass\/navigation-rtl\.scss}line{font-family:\000039}}
ul li.collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKBhEEHKt6YYUAAABUSURBVAjXfczBCkBAGMTxmbW4K48qL+CCx3QU91W+cRDWJv/T1K8GSJr7Utf2MSzDAwDgYth2wZTgOp6QZwShN1ZNoHeEzEB+3NZtIOkg/DR1xe0HvfMcbN43sl8AAAAASUVORK5CYII=');
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/E\/WEBSERVER\/home\/stroimpmr\/www\/sites\/all\/themes\/stroycenter\/sass\/navigation-rtl\.scss}line{font-family:\0000318}}
#navigation ul.links,
#navigation ul.menu {
  /* Menu block links */
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/E\/WEBSERVER\/home\/stroimpmr\/www\/sites\/all\/themes\/stroycenter\/sass\/navigation-rtl\.scss}line{font-family:\0000321}}
#navigation ul.links li,
#navigation ul.menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/E\/WEBSERVER\/home\/stroimpmr\/www\/sites\/all\/themes\/stroycenter\/sass\/navigation-rtl\.scss}line{font-family:\0000328}}
#secondary-menu {
  float: left;
}
