/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";
@import "compass/css3" ;

@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

.description {
  font-size: 0.85em;
}

@import "compass/typography/links";

a{
  //
  @include link-colors(#1C94C4, #eb8f00, #ff7804);
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}




/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left;
  left: 50%;
  margin: 0;
  padding: 0;
  position: relative;

  img {
    position: relative;
    right: 50%;
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#preface-top {
  @include clearfix;
  clear: both;
  margin: 0 40px;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
  #content {
    @include single-box-shadow;
  }
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h1.title {
  background: inline-image("../images/h1_baground.jpg", 'image/png') no-repeat scroll 0 0 transparent;
  *background: inline-image("../images/h1_baground.jpg", 'image/png') no-repeat scroll 0 0 transparent;
  color: #EB8F00;
  display: block;
  height: 72px;
  padding-left: 11px;
  padding-top: 5px;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-preface-top {
  clear: both;
  display: block;
  overflow: auto;
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.sidebars {

}
.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */
.wrapper-page-bottom {
  border-top: 1px solid wrapper-page-bottom #ebb783;
  vertical-align: baseline;
  background-image: url('../images/page-bottom-bg.png');
  background-repeat: repeat-x;
  background-color: #ee7f01;
  padding-top: 2em;
  margin-top: 1em;

  #footer-inner {
    margin-right: auto;
    margin-left: auto;
    width: 960px;

    .region-bottom {
      clear: both;
      display: inline;
      float: left;
      position: relative;
      margin-right: 10px;
      margin-left: 10px;
      width: 940px;


      h2 {
        color: #fff;
      }
      ul {
        li {

          list-style: none;
        }
      }
      a {
        color: #fff4f4;
        text-decoration: none;
        &:hover {
          color: #fcd88a;
        }
      }

      .block {
        display: inline;
        float: left;
        margin-right: 10px;;
        position: relative;
      }


    }
  }
  /* Wrapper for any blocks placed in the page bottom region */


}
.clear-block {
  display: block;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  &:before {

  }

}

