@import "base";
@import "compass/css3";
@import "compass/css3/pie";

$search-width: 385px;

#search-block-form {
  width: $search-width;
  float: right;

  @incude single-box-shadow(0 0 5px rgba(0, 0, 0, 0.5) );
  position: relative;
  @include clearfix;

  .search-input {
    width :$search-width - 35;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: 87%;
    padding: 3px 15px 3px 2px;
    display: block;
    border: 1px solid #1C94C4;
  }

  .search-input:hover {
    display: block;
    border: 1px solid #EB8F00;
  }
  .search-submit {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 5px;
  }
}