@import "base";
@import "compass/css3";

$search-width: 385px;

#search-block-form {
  width: $search-width;
  float: right;



  position: relative;
  @include clearfix;

  .search-input {
    width :$search-width - 35;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    font-size: 87%;
    padding: 3px 15px 3px 2px;
    display: block;
    border: 1px solid  rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(black, 0.4) inset;
    //@incude single-box-shadow(#FFFFFF, 0 , 5 , 1, 1 inset);
    //@include box-shadow(rgba( blue , 0.4 ) 0  0 25px  , rgba(green , 0.2 ) 0 0 3px 1px inset  );
    &:hover {
      display: block;
      border: 1px solid #9c9e9f;
    }

  }
  .search-submit {
    border-left: 1px solid #9c9e9f;
    margin: 0;
    padding: 0 0 0 5px;
    position: absolute;
    right: 22px;
    top: 2px;
  }
}