/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #FBCB09;
$tabs-background-color:#eeeeee ;
$tabs-line-heights: 1.5em;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clearfix;
  border-bottom: 1px solid $tabs-border;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;

  li {
    float: left; /* LTR */
    margin: 0.5em 3px 0;
  }

  a {
    border: 1px solid $tabs-background-color;
    border-right: 0;
    border-bottom: 0;
    display: block;
    line-height: $tabs-line-heights;
    text-decoration: none;
  }
}

/*
 * Primary tabs
 */

ul.primary {
  li {
    @include border-top-radius(4px);
    //@include single-text-shadow(#fff, 1px, 1px, 0);
    //border: 1px solid $tabs-border;
    //border-bottom: 0;
    background: url("../images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6;
    border: 1px solid #CCCCCC;
    color: #1C94C4;
    margin: 0.5em 0 0 3px; /* LTR */
  }
  li.active {
    background: url("../images/ui-bg_glass_100_fdf5ce_1x400.png") repeat-x scroll 50% 50% #FDF5CE;
    border: 1px solid #FBCB09;
    color: #FF7804;
    font-weight: bold;
    margin-bottom: -1px; /* Overlap the ul's border. */
  }

  a:link,
  a:visited {
    @include border-top-radius(4px);
    color: #1C94C4;
    letter-spacing: 1px;
    padding: 0 1em;
    text-align: center;
  }
  a:hover,
  a:focus {
    color: #FF7804;
  }
  a.active {
    color: #EB8F00;
    background-color: transparent;
    line-height: $tabs-line-heights;
  }
}

/*
 * Secondary tabs
 */

ul.secondary {
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}
